@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* COLORS */
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    
    --accent-blue: hsl(248, 32%, 49%);

    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);

    --col-font-title: #fcffff;
    --col-font-description: #ffe2e6;

    /* FONTS */
    --font-primary: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-primary);
    font-size: 16px;
    color: white;
}

body {
    background-color: var(--primary-red);
    background-image: url(../images/bg-intro-desktop.png);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.grid__col {}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left__title {
    font-size: calc(2.3rem + 1vw);
    line-height: 3.7rem;
    color: var(--col-font-title);
}
.left__description {
    padding-top: 2rem;
    color: var(--col-font-description);
}

.right {}
.right__demo {
    border-radius: .8rem;
    background-color: var(--accent-blue);
    padding: 1.5rem 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    -webkit-box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.15);
}
.right__demo-text {
    font-weight: 400;
}
.right__demo-bold {
    font-weight: 700;
}
.right__demo-form {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.15); 
    box-shadow: 0px 7px 0px 1px rgba(0,0,0,0.15);
    padding: 1rem 2rem 2rem 2rem;
    border-radius: .5rem;
}
.right__demo-form > input {
    width: -moz-available;
    width: -webkit-fill-available;
    height: 3.5rem;
    margin-top: 1rem;
    border: 1px solid var(--neutral-grayish-blue);
    border-radius: .3rem;
    padding-left: 1rem;
    color: var(--neutral-dark-blue);
    font-family: var(--font-primary);
    font-weight: 600;
}
.right__demo-form > input:focus-visible {
    border: 1px solid var(--accent-blue)!important;
}

#form-button {
    width: -moz-available;
    width: -webkit-fill-available;
    height: 3.5rem;
    margin-top: 1rem;
    border: 1px solid var(--neutral-grayish-blue);
    border-radius: .3rem;
    -webkit-box-shadow: 0px 4px 0px 1px rgba(2, 122, 30, 0.558); 
    box-shadow: 0px 4px 0px 1px rgba(2, 122, 30, 0.558);
    text-align: center;
    border: none;
    background-color: var(--primary-green);
    color: white;
    font-size: .75rem;
    font-weight: 600;
    cursor: pointer;

    padding-left: 0;
}
#form-button:active {
    filter: brightness(120%);
}
#form-button:hover {
    filter: brightness(110%);
}
.terms-text {
    color: var(--neutral-grayish-blue);
    font-size: .6rem;
    text-align: center;

    padding-top: .5rem;
}
.terms-bold {
    color: var(--primary-red);
    font-weight: 700;
    text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 930px) {
    .grid {
        grid-template-columns: none;
        padding-inline-start: 1.5rem;
        padding-inline-end: 1.5rem;
        margin-block-start: 10rem;
    }

    .left {
        text-align: center;
    }

    .left__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}